@model TravelVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/Travel/Index.css">
</head>
<body>
    <div class="container mt-5">
        <div class="booking-form">
            <h6 style="margin-top: -50px;"><a asp-controller="Home" asp-action="Index" style="text-decoration: none; color: deepskyblue;">ExpressCart</a> > @Model.CategoryName.ToUpper()</h6>
            <h2>Book Your Trip</h2>
            <form method="post">
                <input type="hidden" asp-for="Travel.Id" />
                <input type="hidden" asp-for="CategoryId" />

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fromDropdown">From:</label>
                        <select id="fromDropdown" asp-for="Travel.DepartureLocation" class="form-control">
                            <option value="" disabled selected>Where From?</option>
                            @foreach (var airport in Model.AirportData)
                            {
                                <option value="@airport.Code">@airport.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="toDropdown">To:</label>
                        <select id="toDropdown" asp-for="Travel.DestinationLocation" class="form-control">
                            <option value="" disabled selected>Where To?</option>
                            @foreach (var airport in Model.AirportData)
                            {
                                <option value="@airport.Code">@airport.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="startDateInput">Departure Date:</label>
                        <input type="datetime-local" asp-for="Travel.DepartureDate" class="form-control" id="startDateInput" name="Travel.DepartureDate" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="endDateInput">Destination Date:</label>
                        <input type="datetime-local" asp-for="Travel.DestinationDate" class="form-control" id="endDateInput" name="Travel.DestinationDate" />
                    </div>
                </div>

                <div class="submit-btn">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('startDateInput').addEventListener('change', function () {
            var startDate = new Date(this.value);
            var endDateInput = document.getElementById('endDateInput');

            if (startDate) {
                endDateInput.min = this.value;
                endDateInput.disabled = false;
            } else {
                endDateInput.min = "";
                endDateInput.disabled = true;
            }

            var endDate = new Date(document.getElementById('endDateInput').value);
            if (endDate < startDate) {
                document.getElementById('endDateInput').value = "";
            }
        });

        document.getElementById('endDateInput').addEventListener('change', function () {
            var endDate = new Date(this.value);
            var startDate = new Date(document.getElementById('startDateInput').value);

            if (endDate < startDate) {
                this.value = "";
            }
        });
    </script>
</body>
</html>
